@import "../../../../assets//variables.scss";

.react-autosuggest__container {
  position: relative;
  width: 622px + 32px + 12px;
  &:after {
    content: " ";
    position: absolute;
    right: 1px;
    top: 1px;
    height: 54px;
    width: 54px;
    border-radius: 4px;
    background: url("../../../../assets/icons/search_icon.png"), #0061ff;
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
  }
  &:focus-within:after {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.react-autosuggest__input {
  width: 622px - 54px;
  height: 26px;
  padding: 14px 54px + 16px 14px 16px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 1000;
  margin-left: 10px;
  text-overflow: ellipsis;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 55px;
  left: 10px;
  width: 622px + 32px;
  border: 1px solid #000;
  background-color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1003 !important;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 60, 0.1);
  }
}

.react-autosuggest__suggestion:not(:first-child) .suggestion-content {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.react-autosuggest__suggestion .suggestion-content__show_more {
  &.suggestion-content {
    text-transform: uppercase;
    font-weight: 500;
    border-top: 1px solid rgb(0, 0, 0);
  }
  .suggestion.link-color span {
    color: #0061ff;
  }
}

.react-autosuggest__suggestion--focused {
  background-color: #0c7eaf;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.name {
  line-height: 60px;
  flex: 1;
}
.suggestion-content {
  margin-left: 16px;
  margin-right: 16px;
  &__cta {
    background-color: #0061ff;
    text-transform: uppercase;
    padding: 8px 16px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
  }
}

.highlight {
  color: #0061ff;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}

@media screen and (max-width: $desktop-small) {
  .react-autosuggest__container {
    max-width: calc(100vw - 280px);
  }
  .react-autosuggest__input {
    max-width: calc(100vw - 280px - 16px - 56px - 16px - 10px) !important;
  }
  .react-autosuggest__container--open
    .react-autosuggest__suggestions-container {
    width: calc(100vw - 280px - 11px);
  }
}

@media screen and (max-width: $tablet-width) {
  .react-autosuggest__container {
    max-width: calc(100vw - 32px - 32px);
  }
  .react-autosuggest__input {
    margin-left: 0;
    padding-right: 80px;
    max-width: calc(100vw - 32px - 32px - 16px - 56px - 16px - 10px) !important;
  }
  .react-autosuggest__container--open
    .react-autosuggest__suggestions-container {
      width: calc(100vw - 32px - 32px - 2px);
      left: 0;
  }
}
