@import "../../../assets/variables.scss";

.Dropdown-test {
  position: relative;
  z-index: 10;
  #menu ul {
    margin: 0;
    padding: 0;
  }

  #menu .main-menu {
    display: none;
  }

  #tm:checked + .main-menu {
    display: block;
  }

  #menu input[type="checkbox"],
  #menu ul span.drop-icon {
    display: none;
  }

  #menu li,
  #toggle-menu,
  #menu .sub-menu {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.05);
  }

  #menu li,
  #toggle-menu {
    border-width: 0 0 1px;
  }

  #menu .sub-menu {
    background-color: $primary-color;
    border-width: 1px 1px 0;
    margin: 0 1em;
  }

  #menu .sub-menu li:last-child {
    border-width: 0;
  }

  #menu li,
  #toggle-menu,
  #menu a {
    position: relative;
    display: block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);
    &.title {
      color: $primary-color;
      &:hover {
        color: $primary-color;
        background: none;
      }
    }
  }

  #menu {
    background-color: #0061FF;
  }

  #toggle-menu {
    background: #00003C;
  }

  #toggle-menu,
  #menu a {
    padding: 1em 1.5em;
  }

  #menu a {
    transition: all 0.125s ease-in-out;
    -webkit-transition: all 0.125s ease-in-out;
  }

  #menu a:hover {
    background-color: $island-blue;
  }

  #menu .sub-menu {
    display: none;
    border-radius: 5px;
  }

  #menu input[type="checkbox"]:checked + .sub-menu {
    display: block;
  }

  #toggle-menu .drop-icon,
  #menu li label.drop-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  #menu label.drop-icon,
  #toggle-menu span.drop-icon {
    padding: 1em;
    font-size: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.125);
    text-shadow: 0 0 0 transparent;
    color: rgba(255, 255, 255, 0.75);
  }

  @media only screen and (min-width: 1024px) {
    #menu .main-menu {
      display: block;
    }

    #toggle-menu,
    #menu label.drop-icon {
      display: none;
    }

    #menu ul span.drop-icon {
      display: inline-block;
    }

    #menu li {
      float: left;
      border-width: 0;
    }

    #menu .sub-menu li {
      float: none;
    }

    #menu .sub-menu {
      border-width: 0;
      margin: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 12em;
      z-index: 3000;
    }

    #menu .sub-menu,
    #menu input[type="checkbox"]:checked + .sub-menu {
      display: none;
    }

    #menu .sub-menu li {
      border-width: 0 0 1px;
    }

    #menu .sub-menu .sub-menu {
      top: 0;
      left: 100%;
    }

    #menu .sub-menu .drop-icon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1em;
    }

    #menu li:hover > input[type="checkbox"] + .sub-menu {
      display: block;
    }
  }
}
