@import "../../../assets//variables.scss";

.JumboTile {
  flex: 1 0 33%;
  height: 50%;

  &--filled {
    background-color: $island-blue;
  }
}

@media screen and (max-width: $tablet-width + 1px) {
  .JumboTile {
  }
}
