@import "../../../assets/variables.scss";
.Jumbotron {
  display: flex;
  flex-wrap: wrap;
  height: 760px;
  background-image: url("../../../assets/images/backgroundPick.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: $tablet-width + 1px) {
  .Jumbotron {
  }
}
