@import "./assets//variables.scss";

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;

  h1 {
    font-size: 3rem;
    margin: 0;
    font-style: italic;
    font-weight: 400;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
    font-style: italic;
    font-weight: 400;
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link-animation {
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    right: 0;
    background: #fff;
    transition: width 0.1s ease;
  }

  &:hover:after {
    width: 100%;
    left: 0;
    background: #fff;
  }
}

.break-flex {
  flex-basis: 100%;
  height: 0;
}
