@import "../../../assets/variables.scss";

.Navbar {
  height: 120px;

  &-container {
    display: flex;
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

@media screen and (max-width: $tablet-width + 1px) {
}

@media screen and (max-width: $mobile-width +1px) {
}
